@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background-size: cover;
    height: 100vh;
    margin:0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url("images/background.jpg");
    flex-direction: column;
}

#welcome-section {
    text-align: center;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #fff;
    font-size: 80px;
    text-shadow: 6px 6px 0 rgba(0,0,0,0.2);
    text-align: center;
    margin:0;
    padding:0;
}

.header-text {
    margin:0 0 10px 0;
    padding:0;
    color: #fff;
    font-size: 40px;
}


.bubble {
    width: 60px;
    height: 60px;
    background: #b8e0df;
    border-radius: 200px;
    position: absolute;
}

.x1 {
    right: 14vw;
    transform: scale(0.9);
    opacity: 0.2;
    animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    right: 25vw;
    transform: scale(0.6);
    opacity: 0.5;
    animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
    left: 55vw;
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

}
.x4 {
    left: 36vw;
    transform: scale(0.75);
    opacity: 0.35;
    animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;

}
.x5 {
    left: 12vw;
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

@keyframes moveclouds {
    0% {
        top: 90vh;
    }
    100% {
        top: -10vh;
    }
}

@keyframes sideWays {
    0% {
        margin-left:0;
    }
    100% {
        margin-left:50px;
    }
}

#navbar {
    align-self: flex-end;
    margin:0;
    padding: 0px 35px;
    display: block;
}



.nav-item {
    color: #fff;
    text-decoration: none;
    padding: 20px 10px;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.4s ease;
}

.nav-item:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 2px;
    width: 0;
    transition: width .3s ease-in-out;
    position: relative;
    top: 10px;
}

.nav-item:hover:after,
.nav-item:focus:after {
    width: 100%;
}

h2 {
    color: #4e8a82;
    font-size: 45px;
    margin: 0;
    padding: 80px 10px 20px 10px;
    text-align: center;
}

.card-container {
    text-align: center;
    width: 300px;
    margin: 30px auto;
    perspective: 1200px;
    transform-style: preserve-3d;
    border-radius: 50%;
}

.flip-card {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: .7s linear;
}

.front-card, .back-card {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 20px 20px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.front-card {
    z-index: 2;
    transform: rotateY(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-card {
    transform: rotateY(-180deg);
    color: #fff;
}

.back-card.card1 {
    background-image: linear-gradient(to left bottom, #caf8f6, #b4e2e0, #9fccca, #8ab7b5, #76a2a0, #689492, #5a8684, #4d7876, #426d6b, #376260, #2d5755, #224c4b);
}

.back-card.card2 {
    background-image: linear-gradient(to left bottom, #ceccfa, #bdbbe9, #adabd8, #9d9bc7, #8d8bb7, #7f7ea9, #71719b, #64648d, #56567e, #47486f, #3a3b61, #2c2e53);
}

.back-card.card3 {
    background-image: linear-gradient(to left bottom, #c3e5ff, #adcfeb, #98bad6, #83a5c2, #6f91af, #6284a3, #567797, #496b8b, #416383, #395c7a, #305472, #284d6a);
}

.back-card.card4 {
    background-image: linear-gradient(to left bottom, #ffe9ff, #ead0ea, #d5b8d5, #c19fc0, #ad88ac, #9d779c, #8d668c, #7e567c, #6e486d, #5f3a5e, #502c50, #421f42);
}

.card-container:hover .flip-card{
    transform: rotateY(180deg);
}

.card-headline {
    color: #fff;
    font-size: 35px;
    padding: 8px;
    margin-bottom: 50px;
    border-radius: 30px;
}

.card1 .card-headline {
    background-color: #4e8a82;
}

.card2 .card-headline {
    background-color: #7877A1;
}

.card3 .card-headline {
    background-color:  #547696;
}

.card4 .card-headline {
    background-color:  #A0779E;
}

.project-tile {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.front-card.card1 {
    background-image: url("images/tribute.png");
    background-size: cover;
    border: 4px solid #4e8a82;
}

.front-card.card2 {
    background-image: url("images/landing.png");
    background-size: cover;
    border: 4px solid #7877A1;
}

.front-card.card3 {
    background-image: url("images/survey.png");
    background-size: cover;
    border: 4px solid #547696;
}

.front-card.card4 {
    background-image: url("images/documentation.png");
    background-size: cover;
    border: 4px solid #A0779E;
}

.card-text {
    margin: 0;
    padding: 30px 20px 5px 20px;
    font-size: 18px;
    text-align: center;
}

.card-item {
    text-decoration: none;
    color: #fff;
    margin: 5px auto;
    padding: 0;
    font-size: 16px;
    border: 2px solid #fff;
    width: 70px;
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    border-radius: 30px;
}

.card-item:hover {
    background-color: #fff;
    color: #4e8a82;
}

.link-container {
    display: flex;
    justify-content: center;
    max-width: 180px;
    margin: 0 auto;
}

.img-container {
    margin:0;
    padding: 0 0 10px 0;
}

.techimg {
    padding: 0 3px;
}

#contact {
    background-image: linear-gradient(to right bottom, #80bfb6, #79b5ac, #73aba2, #6ca299, #66988f, #619189, #5b8a82, #56837c, #507c77, #4a7672, #446f6d, #3f6968);
}

.footer-headline {
    color: #fff;
}

#name,
#email {
    width: 230px;
    height: 20px;
    margin-bottom: 30px;
}

#name {
    margin-bottom: 80px;
}

input[type="text"],
input[type="email"] {
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    transition-property: border-bottom;
    transition-duration: 0.7s;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

textarea {
    border: 2px solid #fff;
    transition-property: border;
    transition-duration: 0.7s;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

label{
    font-weight: 800;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
}

.form-items label {
    top: -27px;
    left: -15px
}

.textarea label {
    top: -35px;
    left: -15px
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px 80px 20px;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}


.name, .email, .textarea {
    position: relative;
}

.btn-container {
    align-self: center;
    padding: 50px 20px 50px 20px;
}

#submit {
    border-width: 2px;
    border-color: #fff;
    font-size: 15px;
    color: #58867f;
    width: 170px;
    height: 40px;
    transition: 0.5s;
    background-color:#fff;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    border-radius: 10px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

#submit:hover {
    background-color: #58867f;;
    color: #fdfdff;
}

@media (max-width: 1310px) {

    .project-tile {
        flex-wrap: wrap;
    }

    .card-container {
        width: 450px;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
    }

     #navbar {
         display: none;
     }

}

@media (max-width: 920px) {

    .card-container {
        width: 350px;
    }

}

@media (max-width: 670px) {

    .form-container {
    flex-direction: column;
    }

    .textarea {
        margin-top: 50px;
    }

}

@media (max-width: 580px) {

    h1 {
        font-size: 60px;
    }

    .header-text {
        font-size: 30px;
    }

    #profile-link img {
        width: 37px;
        height: 37px;
    }
}


