.contact {
    background-image: linear-gradient(to right bottom, #80bfb6, #79b5ac, #73aba2, #6ca299, #66988f, #619189, #5b8a82, #56837c, #507c77, #4a7672, #446f6d, #3f6968);

    &__headline {
        color: #fff;
        font-size: 45px;
        margin: 0;
        padding: 80px 10px 20px 10px;
        text-align: center;
    }

}